.chat-main
  .chat-main__group-list
    .chat-main_group-list__name
      =@group.name
      .chat-main__group-list__name__member 
        Member: 
        .chat-main__group-list__name__member-list
          =@group.users.pluck(:name).join(" , ")
    .chat-main__group-list__edit
      =link_to edit_group_path(@group) , class:"chat-main__group-list__edit--btn" do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit' 
